.button {
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 72px;
  /*   border-block: 1px solid color-mix(in oklab, white, transparent 20%);
    border-inline: 1px solid color-mix(in oklab, black, transparent 40%); */
    border-radius: 9999rem;
    background: color-mix(in oklab, black, transparent 95%);
    backdrop-filter: blur(6px);
    position: relative;
    box-shadow: 0 -1px 0 0 color-mix(in oklab, white, transparent 50%), 0 1px 0 0 color-mix(in oklab, white, transparent 50%), -1px 0 0 0 color-mix(in oklab, black, transparent 50%), 1px 0 0 0 color-mix(in oklab, black, transparent 50%);
    
    &::before {
      content: '';
      border-radius: inherit;
      background: color-mix(in oklab, black, transparent 90%);
      position: absolute;
      inset: 0;
      transform: translate(0, 12px);
      filter: blur(6px);
      z-index: -1;
    }
    
    &:hover {
      scale: 1.1;
      transition: scale 200ms ease-out;
      
      &::before {
        background: color-mix(in oklab, black, transparent 95%);
      }
    }
    
    &:active {
      scale: 0.9;
      transition: scale 100ms ease-out;
      
      &::before {
        background: color-mix(in oklab, black, transparent 85%);
      }
    }
  }
      